@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: top center;
}

.app-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(50, 50, 50, 0.4)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(50, 50, 50, 0.4));
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 15px 15px;
}

header label {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 500;
}

header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #DF8E00;
  color: #313131;
  font-size: 20px;
  font-weight: 300;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

header input::-webkit-input-placeholder {
  color: #313131;
}

header input:-ms-input-placeholder {
  color: #313131;
}

header input::-ms-input-placeholder {
  color: #313131;
}

header input::placeholder {
  color: #313131;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}

main .location .date {
  color: #FFF;
  font-size: 16px;
}

main .current .temp {
  color: #FFF;
  font-size: 102px;
  font-weight: 900;
  margin: 30px 0px;
  text-shadow: 2px 8px rgba(0, 0, 0, 0.5);
}

main .current .temp span {
  font-weight: 500;
}

main .current .weather {
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  text-shadow: 0px 30x rgba(0, 0, 0, 0.4);
}

main .current .high-low {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}
/*# sourceMappingURL=styles.css.map */